body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #130427;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    background-color: #0dca91;
    padding: 10px 0;
}

#contato {
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#contato h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


#mensagem-sucesso {
    margin-top: 20px;
    padding: 15px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    display: none; 
}







form .campo {
    margin-bottom: 15px;
    text-align: left;
}

form .campo label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

form .campo input,
form .campo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

form .campo textarea {
    resize: none;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu > li {
    position: relative;
    margin: 0 15px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu a:hover {
    background-color: #761e99;
    border-radius: 5px;
}

/* Submenu */
.submenu {
    list-style: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #4a0253;
    display: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
}

.submenu li {
    width: 150px;
}

.submenu a {
    color: white;
    padding: 10px;
}

.submenu a:hover {
    background-color: #200144;
}


.dropdown:hover .submenu {
    display: block;
}

button:hover {
    background-color: #45a049;
}
footer {
    background-color:#201b2c; 
    color: #f9f9f9; 
    text-align: center; 
    padding: 20px 10px; 
    font-size: 14px; 
    border-top: 3px solid #4caf50; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 0; /* Remove margem para centralizar */
}